@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');


.card-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

}
.weather-card {
  border: none;
  width: 25rem;
  padding: 0 3rem 0 3rem;
  
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  margin: 10px;
  font-family: 'Amiko', sans-serif;  font-size: 14px;

}

.high {
  border: 1px solid black;
  background-color: orange;
  width: 3rem;
}
.low {
  border: 1px solid black;
  background-color: lightblue;
  width: 3rem;
}
.legend {
  display: flex;
  justify-content: center;
  margin-bottom: -50px;
}
.wind {
  margin-bottom: -20px;
}
.twoweeks {
  display: flex;
  justify-content: center;
  margin: 5vh;
  flex-wrap: wrap;
}
.oneday {
  display: flex;
  justify-content: center;
  margin: 5vh;
  flex-wrap: wrap;
}


