.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-card {
  border: 1px solid black;
  width: 30rem;
  margin: 10px;
}
.data-stuff {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.barChart {
  width: 30rem;
}
